body{
   margin: 0;
   padding: 0;
}
.container{
    background-image: url(background.png);
    height: 100vh;
    width: auto;
} 

.sol-kapi{
    height: 500px;
    width: 900px;
     margin-left:-70px;
     margin-top:160px ;
} 
.sag-kapi{
    height: 500px;
    width: 900px;
    margin-left:460px;
    margin-top: -700px;
} 
.sol-agac{
    margin-top:-600px;
}
.sag-agac{
    margin-top:-800px;
}
.cim{
    margin-top:-1400px;
}
.yazi{
    display: flex;
    align-items: center;
    justify-content: center;
}

